.my-advantages-container {
  margin: 4rem 0;
  position: relative;
}

.my-advantages-container::after,
.my-advantages-container::before {
  content: " ";
  width: 28rem;
  height: 28rem;
  border-radius: 28.125rem;
  background: #7c66e3;
  position: absoloute;
  z-index: -1;
  filter: blur(200px);
}

.my-advantages-container::after {
  top: -3rem;
  left: -5rem;
}

.my-advantages-container::before {
  background: #9e51b9;
  bottom: 0rem;
  right: 0rem;
}

.my-advantages-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.my-advantages-content {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
}

.my-advantages {
  flex: 1;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

.my-advantages-info {
  flex: 1;
}

@media (max-width: 1025px) {
  .my-advantages {
    padding-left: 1rem;
  }

  .my-advantages,
  .my-advantages-content {
    grid-gap: 2rem;
  }
}

@media (max-width: 768px) {
  .my-advantages-content {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  .my-advantages,
  .my-advantages-info {
    width: 100%;
  }

  .my-advantages-container h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .my-advantages-container::after,
  .my-advantages-container::before {
    width: 18rem;
    height: 18rem;
  }
}

@media (max-width: 600px) {
  .my-advantages-container {
    padding: 0;
  }
}