.skills-container {
  margin: 4rem 0;
  position: relative;
}

.skills-container h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.skills-content {
  display: grid;
  padding-top: 2rem;
  padding-bottom: 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.skills-card {
  background: rgba(44, 82, 163, 0.851);
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.skills-card img {
  transition: all 0.3s ease;
}

.skills-card>img:hover {
  transform: translateY(-0.5rem);
}

.skills-card p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1025px) {
  .skills-content h2 {
    font-size: 3rem;
    line-height: 4;
  }

  .skills-content p {
    font-size: 0.9rem;
    line-height: 1.6rem;
  }
}

@media (max-width: 768px) {
  .skills-container h2 {
    margin-top: 3rem;
  }

  .skills-content h2,
  .skills-content p {
    width: auto;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .skills-content {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

  .skills-content h2 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .skills-content p {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
}