.my-advantages-card {
  border-radius: 0.65rem;
  border: 1.5px solid #6751b9;
  padding: 2.5rem;
  text-align: center;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-advantages-card:hover,
.my-advantages-card.active {
  background: rgba(31, 58, 115, 0.851);
}

.my-advantages-card span {
  font-size: 1.3rem;
  font-weight: 500;
}

.advantages-icon {
  background: rgba(31, 58, 115, 0.851);
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.65rem;
  border: 1.5px solid #6852ba;
  position: absolute;
  top: -1rem;
  left: -1rem;
}

.advantages-icon img {
  width: 2.4rem;
  height: auto;
  object-fit: contain;
}

@media (max-width: 1025px) {
  .my-advantages-card {
    padding: 2rem;
  }

  .my-advantages-card span {
    font-size: 1rem;
  }

  .advantages-icon {
    width: 3rem;
    height: 3rem;
  }

  .advantages-icon img {
    width: 1.8rem;
  }
}

@media (max-width: 768px) {
    .my-advantages-card span {
        font-size: 0.9rem;
      }
}